<section class="films-section">
  <div class="container">
    <h3 class="h1">filmy BEZ FRÁZÍ</h3>
    <div class="row g-6 justify-content-center">
      <div class="col-xl-3 col-sm-6">
        <div class="film">
          <a
            href="https://obchod.bezfrazi.cz/p363-film-navzdy-za-dynamo-pujcit-navzdy"
            class="film__img"
          >
            <img src="images/content/1.png" alt="" loading="lazy" />
          </a>
          <h4 class="h2">Navždy za Dynamo</h4>
          <hr />
          <p>
            Snímek o jednom roku ze sta pardubického hokeje. Film dokumentuje
            všechno, co k chodu hokejového klubu patří. Podíváte se do zákulisí.
            Na led. Do kabiny. Na tribunu. Do kanceláří. Především ale poznáte
            lidi, kteří hokeji věnují celé své srdce.
          </p>
          <a
            href="https://obchod.bezfrazi.cz/p363-film-navzdy-za-dynamo-pujcit-navzdy"
            class="btn"
            >PŮJČIT</a
          >
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="film">
          <a
            href="https://obchod.bezfrazi.cz/p312-film-nejlepsi-u-nas-pujcit-navzdy"
            class="film__img"
          >
            <img src="images/content/2.png" alt="" loading="lazy" />
          </a>
          <h4 class="h2">Nejlepší u nás!!!</h4>
          <hr />
          <p>
            Jedinečný dokument z dílny Bez frází odhaluje zákulisí fotbalového
            klubu v sezoně, kdy jeho fanoušci vinou celosvětové pandemie zůstali
            jen před branami stadionu. Nasajte atmosféru fotbalové kabiny ve
            vypjatých okamžicích i srdce lidí, kteří jsou za svůj klub ochotni
            dýchat.
          </p>
          <a
            href="https://obchod.bezfrazi.cz/p312-film-nejlepsi-u-nas-pujcit-navzdy"
            class="btn"
            >PŮJČIT</a
          >
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="film">
          <a
            href="https://obchod.bezfrazi.cz/p315-film-zokejove-cesta-na-velkou-pardubickou-pujcit-navzdy"
            class="film__img"
          >
            <img src="images/content/3.png" alt="" loading="lazy" />
          </a>
          <h4 class="h2">Žokejové</h4>
          <hr />
          <p>
            Tři rozdílné osudy, které spojuje jeden cíl - Velká pardubická 2019.
            Unikátní dokument mapuje cestu tří žokejů k vrcholu sezony v podobě
            ikonického dostihu. Rekordman Josef Bartoš se pere s náročným
            programem i se zraněními. Věčný čekatel na životní úspěch Marek
            Stromský rozkrývá nálepku smolaře. A k tomu svéráz Pavel Kašný
            ztělesňuje každodenní dřinu.
          </p>
          <a
            href="https://obchod.bezfrazi.cz/p315-film-zokejove-cesta-na-velkou-pardubickou-pujcit-navzdy"
            class="btn"
            >PŮJČIT</a
          >
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="film">
          <a
            href="https://obchod.bezfrazi.cz/p316-film-cheza-je-jen-jedna-pujcit-navzdy"
            class="film__img"
          >
            <img src="images/content/4.png" alt="" loading="lazy" />
          </a>
          <h4 class="h2">Cheza je jen jedna</h4>
          <hr />
          <p>
            Litvínov a hokej. Spojení, které k sobě neodmyslitelně patří.
            Nejvyšší domácí soutěž se v malém městě pod Krušnými horami hraje
            nepřetržitě od roku 1959. V sezoně 2019/2020 ale musel průšvih v
            podobě sestupu odvracet až v posledním kole a projekt Bez frází byl
            u toho.
          </p>
          <a
            href="https://obchod.bezfrazi.cz/p316-film-cheza-je-jen-jedna-pujcit-navzdy"
            class="btn"
            >PŮJČIT</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
