<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="#">
        <img src="images/ico/logo.svg" alt="" loading="lazy" />
      </a>
      <ul class="header__links">
        <li>
          <a href="#"> bezfrazi.cz </a>
        </li>
        <li>
          <a href="#"> obchod.bezfrazi.cz </a>
        </li>
      </ul>
      <button class="c-header__opener js-header__opener" type="button">
        Menu
        <span></span>
      </button>
    </div>
  </div>
</header>
