<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a href="#" class="footer__logo">
        <img src="images/ico/logo.svg" alt="" loading="lazy" />
      </a>
      <ul class="footer__social">
        <li>
          <a href="https://www.facebook.com/bezfrazi">
            <img src="images/ico/facebook.svg" alt="" loading="lazy" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/bezfrazi/?hl=en">
            <img src="images/ico/instagram.svg" alt="" loading="lazy" />
          </a>
        </li>
        <li>
          <a href="https://twitter.com/bezfrazi">
            <img src="images/ico/twitter.svg" alt="" loading="lazy" />
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/@bezfrazi">
            <img src="images/ico/youtube.svg" alt="" loading="lazy" />
          </a>
        </li>
      </ul>
      <a href="#" class="footer__link"> info@bezfrazi.cz </a>
    </div>
    <hr />
    <p class="copyright">
      © Copyright 2023 Bez frází. Všechna práva vyhrazena.
    </p>
  </div>
</footer>
