<section class="top-section">
  <div class="container">
    <div class="top-section__inner">
      <div class="top-section__wrap">
        <div class="top-section__content">
          <div class="o-content">
            <h1 class="h1">vítejte v kině bez frází!</h1>
            <h2 class="h2">Vítejte ve vašem kině!</h2>
            <hr />
            <p>
              Zkuste si, jaké je to být ve fotbalové šatně, když se nedaří a
              atmosféra je vypjatá. Pociťte na vlastní kůži, když propukne
              nadšení po vydřeném hokejovém zápase. Nechte se strhnout
              atmosférou největšího českého dostihu.
            </p>
            <p>
              Přehrajte si jakýkoli film z naší nabídky.
              <br />
              Buďte u toho a zažijte pravé emoce.
              <br />
              Bez frází.
            </p>
          </div>
          <form action="/" class="top-section__form mt-9">
            <label for="code">
              <input
                id="code"
                type="text"
                placeholder="Zadejte kód pro ověření"
              />
            </label>
            <div class="top-section__form-btn">
              <button class="btn btn-dark">OVĚŘIT</button>
            </div>
          </form>
          <div class="top-section__form">
            <p>Další filmy si kupte v našem e-shopu</p>
            <div class="top-section__form-btn">
              <a href="#" class="btn">E-SHOP</a>
            </div>
          </div>
        </div>
      </div>
      <div class="top-section__img">
        <img src="images/content/top.jpg" loading="lazy" alt="" />
      </div>
    </div>
  </div>
</section>
