<section class="audio-section">
  <div class="container">
    <h3 class="h1">audioknihy BEZ FRÁZÍ</h3>
    <div class="row g-6 justify-content-center">
      <div class="col-xl-3 col-sm-6">
        <div class="audio">
          <a
            href="https://obchod.bezfrazi.cz/p319-audiokniha-bez-frazi-1"
            class="audio__img"
          >
            <img src="images/content/5.png" alt="" loading="lazy" />
          </a>
          <h4 class="h2">Audiokniha Bez frází 1</h4>
          <hr />
          <p>
            První díl série knižních bestsellerů otevírá příběh tenistky Barbory
            Strýcové. Poslechněte si výjimečné příběhy výjimečných sportovců v
            podání výjimečných hlasů. Čtou Martin Dejdar, Jiří Dvořák, Martin
            Hofmann, Veronika Khek Kubařová, Václav Neužil a David Novotný.
          </p>
          <a
            href="https://obchod.bezfrazi.cz/p319-audiokniha-bez-frazi-1"
            class="btn"
            >Půjčit</a
          >
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="audio">
          <a
            href="https://obchod.bezfrazi.cz/p320-audiokniha-bez-frazi-2"
            class="audio__img"
          >
            <img src="images/content/6.png" alt="" loading="lazy" />
          </a>
          <h4 class="h2">Audiokniha Bez frází 2</h4>
          <hr />
          <p>
            Druhý díl série knižních bestsellerů otevírá příběh hokejisty
            Martina Erata a mezi dalšími zde vyprávějí například fotbalista
            Vladimír Šmicer, basketbalista Tomáš Satoranský, MMA zápasník Jiří
            Procházka a další. Jejich vyprávění čtou hlasy známé z prvního dílu.
          </p>
          <a
            href="https://obchod.bezfrazi.cz/p320-audiokniha-bez-frazi-2"
            class="btn"
            >Půjčit</a
          >
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="audio">
          <a
            href="https://obchod.bezfrazi.cz/p321-audiokniha-bez-frazi-3"
            class="audio__img"
          >
            <img src="images/content/7.png" alt="" loading="lazy" />
          </a>
          <h4 class="h2">Audiokniha Bez frází 3</h4>
          <hr />
          <p>
            Třetí díl série knižních bestsellerů otevírá příběh fotbalové
            legendy Petra Čecha a mezi dalšími zde vyprávějí například
            snowboardcrossařka Eva Samková (Adamczyková), hokejista Pavel Patera
            nebo ikona stolního tenisu Petr Korbel.
          </p>
          <a
            href="https://obchod.bezfrazi.cz/p321-audiokniha-bez-frazi-3"
            class="btn"
            >Půjčit</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
