<section class="audio-section">
  <div class="container">
    <h3 class="h1">audioknihy BEZ FRÁZÍ</h3>
    <div class="row g-6 justify-content-center">
      <div class="col-xl-3 col-sm-6">
        <div class="audio">
          <a href="#" class="audio__img">
            <img src="images/content/5.png" alt="" loading="lazy" />
          </a>
          <h4 class="h2">Audiokniha 1</h4>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur
            sagittis hendrerit ante. Nam quis nulla. Integer pellentesque quam
            vel velit.
          </p>
          <a href="#" class="btn">PŘEHRÁT</a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="audio">
          <a href="#" class="audio__img">
            <img src="images/content/6.png" alt="" loading="lazy" />
          </a>
          <h4 class="h2">Audiokniha 2</h4>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur
            sagittis hendrerit ante. Nam quis nulla. Integer pellentesque quam
            vel velit.
          </p>
          <a href="#" class="btn">PŘEHRÁT</a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="audio">
          <a href="#" class="audio__img">
            <img src="images/content/7.png" alt="" loading="lazy" />
          </a>
          <h4 class="h2">Audiokniha 3</h4>
          <hr />
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur
            sagittis hendrerit ante. Nam quis nulla. Integer pellentesque quam
            vel velit.
          </p>
          <a href="#" class="btn">PŘEHRÁT</a>
        </div>
      </div>
    </div>
  </div>
</section>
